body{
  font-size: 2vw;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 1.5em;
  font-weight: 700;
}

#landing-screen{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#landing-text{
  padding-left: 5vw;
  width: 60vw;
}

#landing-variable{
  color: #E4478A;
  text-decoration: underline;
}

#landing-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 100vh;
  background: #E4478A;
  border-radius: 60% 0% 0% 60%;
}

/* #landing-img img{
  width: 700px;
  height: 500px;
} */

#landing-img img{
  max-width: 75%;
  max-height: 75%;
  border-radius: 25px;
}