/* Gobal Styles */
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  color: #292929;
}

/* Header Styles */
.s1{
	background-color: #6649b8;
	border-bottom:1px solid gray;
  overflow:auto;
}

.main-container{
	width: 1200px;
	margin: 0 auto;
}


.greeting-wrapper{
	display: grid;
	text-align: center;
	align-content: center;
  min-height: 10em;
  color: white;
  font-size: 24px;
}

.greeting-wrapper h1{
  color: white;
}

.intro-wrapper{
	background-color: white;
	border:1px solid gray;
	border-radius:5px 5px 0 0;


	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 
		'nav-wrapper nav-wrapper'
		'left-column right-column'
	;
}
.nav-wrapper{
	border-radius:5px 5px 0 0;
	grid-area:nav-wrapper;
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: darkgray;
}

#navigation{
	margin:0;
	padding: 10px;
}

#navigation li{
	display: inline-block;
	margin-right: 5px;
	margin-left:5px;
}

.dots-wrapper{
	display: flex;
	padding: 10px;
}

#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	margin: 5px;

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.left-column{
	grid-area: left-column;
	padding-top:50px;
	padding-bottom: 50px;
}

#profile_pic{
	display: block;
	margin:0 auto;

	height: 200px;
	width: 200px;
	object-fit: cover;
	border:2px solid gray;
}
.right-column{
	grid-area: right-column;
	display: grid;
	align-content: center;

	padding-top: 50px;
	padding-bottom: 50px;
}

#preview-shadow{
	background-color: #d1c0ff;
	max-width: 300px;
	height: 180px;
	padding-left: 30px;
	padding-top: 30px;
}

#preview{
	width: 300px;
	border:1.5px solid #4115bb;
	background-color: #6649b8;
	padding:15px;
  position: relative;
  color: white;
}

#preview h3{
  color: white;
}

.corner{
	width:7px;
	height: 7px;
	border-radius: 50%;
	border:1.5px solid #4115bb;
	background-color: #fff;
	position: absolute;
}

#corner-tl{
	top:-5px;
	left: -5px
}

#corner-tr{
	top:-5px;
	right: -5px
}

#corner-br{
	bottom:-5px;
	right: -5px
}

#corner-bl{
	bottom:-5px;
	left: -5px
}

/* Social Media List */

#social-list{
  padding: 0;
}

.social-item{
  display: inline;
  font-size: 1.6em;
  margin: 0 2px;
}

.social-item a{
  color: #6649b8;
  text-decoration: none;
}

.social-item a:visited{
  color: #6649b8;
}

.social-item a:hover{
  color: #bea7ff;
}


/* About Section */
#about{
  margin: 0px auto 25px auto;
  display: flex;
  width: 1200px;
}

#bio h2{
  text-align: center;
}

#bio{
  width: 35%;
  text-align: center;
  margin: 5px auto 0px auto;
  border: 2px solid lightgray;
  border-radius: 25px;
}

#bio-body{
  padding: 0 25px 0 25px; 
}

#skills{
  /* background-color: aqua; */
  width: 70%;
  margin: 0 auto;
}

#skills-section-heading{
  text-align: center;
  padding-top: 10px;
  margin-bottom: 25px;
}

#skills-section-heading h2, p{
  margin: 5px;
}

#skill-list-container{
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  width: 100%;
  padding-left: 25px;
}

.skill-list {
}

.skill-icon{
  height: 50px;
}

.skill-header{
  margin: 0px;
}

.skill-list p{
  margin-left: 0px;
}

/* Project Cards */
* {
	box-sizing: border-box;
}

main{
  margin-top: 25px;
  background-color: #eeeeee;
}

#project-header{
  padding-top: 20px;
  text-align: center;
}

.container {
	/* CHANGE TO GRID */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-gap: 20px;
	width: 940px;
	max-width: 100%;
  margin: 20px auto 0px auto;
  padding-bottom: 25px;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	width: 300px;
}

.card-header img {
	object-fit: cover;
	height: 250px;
	width: 100%;
}

.card-body {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 20px;
	min-height: 200px;
}

.card-body h4 {
	margin: 10px 0;
}

.card-body p {
	font-size: 13px;
	margin: 0 0 40px;
}

.tag {
	background-color: #fff;
	border-radius: 50px;
	font-size: 12px;
	color: #fff;
  margin: 0;
  margin-bottom: 5px;
	padding: 2px 10px;
  text-transform: uppercase;
  
}

.tag-teal {
	background-color: #21759b;
}

.tag-purple {
	background-color: #3d1d94;
}

.tag-pink {
	background-color: #c62bcb;
}

.tag-green{
  background-color: green;
}

.read-more a {
  color: #c62bcb;
}

/* Footer */

footer{
  height: 5vh;
  background-color: #6649b8;
  text-align: center;
  color: white;
}

footer p{
  padding-top: 7px;
  margin: 0;
}

@media (max-width: 940px) {
	.container {
		grid-template-columns: 1fr;
	}
}

/* Mobile Styles */
 @media only screen and (max-width: 600px) {

  .intro-wrapper{
    visibility: hidden;
  }
  .main-container{
    width: 100%;
    overflow: hidden;
    height: 25vh;
  }


  #social {
    margin: 0 auto;
    width: 30vw;
    padding: 0;
    padding-left: 5px;
  }

  #social-list{
    padding: 0;
  }

  #about{
    flex-direction: column;
    width: 100%;
  }

  #skills{
    width: 100%;
  }

  #skill-list-container{
    margin: 0 10vw 0 10vw;
    display: flex;
    flex-direction: column;
  }

  .skill-list{
    margin: 10px;
  }

  .skill-icon{
    float: left;
    margin-right: 5px;
  }

  #bio{
    width: 75%;
  }

  footer p{
    font-size: 0.75em;
  }

/* Super small screen (IPhone 5) */
@media only screen and (max-width: 350px) {
  #social {
    margin: 0 auto;
    width: 35vw;
    padding: 0;
    padding-left: 5px;
  }
}
 }


 