body{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

body::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #1e1e24;
  }
  
  body::-webkit-scrollbar-thumb {
    background: #6649b8;
  }

  header{
    /* background-color: #7510F7; */
    background-image: url("../assets/space.jpg");
    height: 80vh;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#social{
  padding-top: 15px;
  margin-left: 60%;
}

.social-item{
  display: inline;
  
  font-size: 1.6em;
  margin: 0 2px;
}

.social-item a{
  color: white;
  text-decoration: none;
}

.social-item a:visited{
  color: white;
}

.social-item a:hover{
  color: #bea7ff;
}

#tagline{
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 22px;
}

#name{
    color: white;
    padding: 1% 0px 0px 25%;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    float: left;
}

.img-parent{
  padding-left: 0px;
  padding-right: 0px;
}

.img-container img{
    margin: auto;
    width: 100%;
    
}



#arrow{
    color: white;
    position: absolute;
    bottom: 10px;
    left: 47%;
    text-align: center;
}

#arrow p{
    margin: 0;
    text-transform: uppercase;
}

#about{
  margin-bottom: 25px;
}

#about h2{
  text-align: center;
}

#bio{
  width: 50%;
  text-align: center;
  margin: 5px auto 0px auto;
}
footer{
  height: 5vh;
  background-color: #6649b8;
  text-align: center;
  color: white;
}

footer p{
  padding-top: 7px;
  margin-bottom: 0;
}

/* Mobile Styles */
 @media only screen and (max-width: 600px) {
  header{
    display: flex;
    flex-flow: column;
  }
  #name{
    order: 1;
  }
  #tagline{
    order: 2;
  }
  #social{
    order: 3;
  }
  #arrow{
    order: 4;
  }

  #tagline{
    padding-top: 20%;
    padding-left: 5px;
    padding-right: 5px;
  }
  #tagline h1{
    font-size: 24px;
  }
  #tagline h4{
    font-size: 15px;
  }
  #name{
    text-align: center;
    padding: 0;
    padding-top: 15px;
    float: none;
  }
  #arrow{
    /* visibility: hidden; */
    left: 33%;
  }

  #social {
    margin: 0 auto;
    width: 30vw;
    padding: 0;
    padding-left: 5px;
  }

  #social-list{
    padding: 0;
  }

  #bio{
    width: 80%;
  }

  footer p{
    font-size: 0.75em;
  }

/* Super small screen (IPhone 5) */
@media only screen and (max-width: 350px) {
  #social {
    margin: 0 auto;
    width: 35vw;
    padding: 0;
    padding-left: 5px;
  }
}











