#s1 {
  background-color: #DDC9B4;
  font-family: "Prata", serif;
}

#s1 #header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3em;
  margin-top: -4em;
}

#s1 #social-list {
  padding: 0;
  position: absolute;
  right: 10em;
  top: 1em;
}

#s1 .social-item {
  display: inline;
  font-size: 1.6em;
  margin: 0 2px;
}

#s1 .social-item a {
  color: #D9163E;
  text-decoration: none;
}

#s1 .social-item a:visited {
  color: #D9163E;
}

#s1 .social-item a:hover {
  color: #EB3358;
}

#s1 .name p {
  --animate-duration: 1.5s;
  text-transform: uppercase;
  font-size: 200pt;
  margin: 20px;
  color: #D9163E;
}

#s1 #last-name {
  margin-left: 2em;
}

#s1 hr.rounded {
  border-top: 8px solid #D9163E;
  border-radius: 5px;
  margin: 0 2em;
}

#s2 {
  background-color: #D9163E;
}

#s3 {
  background-color: #3C91E6;
}

.big-text {
  font-family: "Prata", serif;
  color: white;
  font-size: 200pt;
  text-transform: uppercase;
  position: relative;
  top: 0em;
  /* left: 5em; */
  margin: 0px;
  line-height: 300pt;
}

.big-text h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

#works {
  text-align: right;
  padding-right: 20px;
}

.about-text {
  color: white;
  width: 800px;
  font-size: 1.5em;
  position: absolute;
  right: 10em;
  bottom: 5em;
  font-family: "Montserrat", sans-serif;
}

.about-text a {
  color: white;
}

.work-text {
  color: white;
  width: 900px;
  font-size: 1.5em;
  position: absolute;
  top: 10em;
  left: 4em;
  font-family: "Montserrat", sans-serif;
}

.fp-slidesNav.fp-bottom {
  bottom: 150px;
  left: 3em !important;
}

#love {
  text-align: center;
}

.pointer {
  position: absolute;
  bottom: 12em;
  left: 5.25em;
  --animate-duration: 4s;
}

.pointer i {
  color: white;
  font-size: 2em;
}

.fp-slidesNav ul li a.active span {
  background-color: white !important;
  height: 16px !important;
  width: 16px !important;
}

.fp-slidesNav ul li a span {
  background-color: white !important;
  height: 10px !important;
  width: 10px !important;
}

.screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto 0px auto;
  width: 1200px;
  height: 600px;
  background-color: #1766B5;
}

.screenshot img {
  width: 600px;
  height: 600px;
}

.work-container {
  margin-top: -12em;
}

.work-title {
  font-size: 75px !important;
  line-height: 100px;
  top: 0.75em;
  text-align: center;
}

.description {
  position: absolute;
  top: 25em;
  margin-left: 24em;
  width: 345px;
}

.description p {
  text-align: center;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  margin-top: 5px;
}

.description a {
  color: white;
}

#medical-desc {
  margin-left: 25em !important;
}

.visit-link {
  position: absolute;
  top: 26em;
  margin-left: 80em;
}

.visit-link a {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25em;
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */